@page "/posts/details"
@using Microsoft.EntityFrameworkCore
@using StudentApp.Models
@inject IDbContextFactory<StudentApp.Data.StudentAppContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Post</h2>
    <hr />
    @if (post is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Name</dt>
            <dd class="col-sm-10">@post.Name</dd>
            <dt class="col-sm-2">Description</dt>
            <dd class="col-sm-10">@post.Description</dd>
            <dt class="col-sm-2">userId</dt>
            <dd class="col-sm-10">@post.userId</dd>
        </dl>
        <div>
            <a href="@($"/posts/edit?postid={post.PostId}")">Edit</a> |
            <a href="@($"/posts")">Back to List</a>
        </div>
    }
</div>

@code {
    private Post? post;

    [SupplyParameterFromQuery]
    private int PostId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        post = await context.Post.FirstOrDefaultAsync(m => m.PostId == PostId);

        if (post is null)
        {
            NavigationManager.NotFound();
        }
    }
}
